torch
dvc
pandas
notebook
numpy
matplotlib
seaborn
python-box
PyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-cors
cassandra-driver
scikit-learn
tensorboard
torchserve
torch-model-archiver
torch-workflow-archiver
onnx
onnxruntime